@primary: #1baeae;

@iconSize: 22px;
@iconTitle: 12px;

.wh(@width, @height){
  width: @width;
  height: @height;
}

.flex(@justify: space-between, @align: center){
  display: flex;
  justify-content: @justify;
  align-items: @align;
}

.boxSizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}